body {
    background-color: rgb(40, 40, 40);
    
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

nav {
    display: flex;
    padding: 1em;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 7;
    align-items: center;
    justify-content: end;
}

.logo {
    width: 3.25em;
    transition: transform 0.15s;
    transform-origin: center;
    margin: 5px;
}

.logo:hover {
    transform: scale(1.08);
}